p{
    text-align: center;
    margin-top: 5%;
    font-size: 1.4em;
    color: white;
}

body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(42,6,248),#4d4f61);
}